:root {
  --input-hieght: 35px;
  --scale-button: 1.1;
  --transition-btn: transform 0.3s ease;
}

.input--focus {
  transition: border-color 0.3s ease;
  &:focus {
    border-color: black;
    outline: none;
  }
}

.btn__primary {
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}

#todo-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 500px;
  padding: 24px;
  margin: 80px auto;
  border-radius: 24px;
  background-color: #ffffff;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow:
    0 8px 32px rgba(10, 2, 2, 0.2),
    0 0 40px rgba(237, 234, 234, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

.todo-list__error-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(-100px);
  padding: 15px 40px;
  border: 1px solid #171515;
  border-radius: 12px;
  z-index: 9999;
  text-align: center;
  background-color: #ffebee;
  border: 1px solid red;
  color: black;
  transition: transform 0.4s ease;
  opacity: 0;
  pointer-events: none;
}

.todo-list__error-message.show {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.todo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo span {
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 1;
  height: 1em;
  margin-top: -28px;
}
.todo__title {
  margin-bottom: 30px;
  line-height: 1;
}

.task-creator {
  display: flex;
  column-gap: 40px;
  margin-bottom: 15px;
}

.task-creator__btn,
.filter-creator__btn {
  height: 100%;
  padding: 5px 10px;
  transition: var(--transition-btn);

  &:hover {
    transform: scale(var(--scale-button));
  }
}

.task-creator__input,
.filter-creator__input {
  width: 100%;
  height: var(--input-hieght);
  font-size: 17px;
  padding-left: 5px;
  border-radius: 10px;
}

.filter-creator__input {
  margin-bottom: 30px;
}

.filter-creator {
  display: flex;
  column-gap: 20px;
}

.counter {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  align-items: center;
  margin-bottom: 30px;
}

.counter__task {
  font-size: 20px;
  border-bottom: 3px dotted black;
  padding-bottom: 6px;
  font-weight: 400;
}

.counter__task::before {
  content: "Number of tasks:";
}

.counter__btn {
  padding: 10px 15px;
  font-size: 17px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: black;
  color: white;
  transition: var(--transition-btn);

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: scale(var(--scale-button));
  }
}

.counter__btn::before {
  content: "Delete All";
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  backdrop-filter: blur(12px);
  transition: var(--transition-btn);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(40, 26, 26, 0.3);
  box-shadow:
    -8px -8px 16px #ffffff,
    8px 8px 16px #d1d1d1;
  &:hover {
    transform: translateY(-3px);
  }
}

.task-item__checkbox {
  margin-right: 5px;
}

.task-item__title {
  font-size: 18px;
}

.task-item__completed {
  display: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.6;
  color: #999;
}

.task-item__checkbox {
  display: none;
}

.task-btn {
  display: flex;
  column-gap: 10px;
}

.task-btns__delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  transition: var(--transition-btn);

  &:hover {
    transform: scale(var(--scale-button));
  }
}

@media (max-width: 480px) {
  #todo-list {
    max-width: 100%;
    padding: 20px;
  }

  .counter__task {
    font-size: 19px;
  }

  .todo-list__error-message {
    width: 100%;
    max-width: 200px;
  }
}

@media (max-width: 360px) and (min-width: 300px) {
  #todo-list {
    max-width: 100%;
    padding: 18px;
  }
  .todo {
    justify-content: center;
  }

  .todo-list__error-message {
    width: 100%;
    max-width: 200px;
  }

  .todo-list__error-message.show {
    transform: translateX(-140px) translateY(-5px);
  }

  .counter {
    column-gap: 10px;
  }

  .counter__task {
    font-size: 19px;
    padding-bottom: 6px;
    font-weight: 400;
  }
  .counter__task::before {
    content: "Total tasks:";
  }

  .counter__btn {
    padding: 12px 18px;
    font-size: 17px;
  }
  .counter__btn::before {
    content: "Delete";
  }
}
